<div class="home-page">
    <div class="banner">
        <div class="container">
            <h1 class="logo-font">conduit</h1>
            <p>A place to share your knowledge.</p>
        </div>
    </div>

    <div class="container page">
        <div class="row">
            <div class="col-md-9">
                <app-feed-toggle />
                <app-article-list [articles]="homeService.articles()" [status]="homeService.status()" />
            </div>

            <div class="col-md-3">
                <app-tag-list />
            </div>
        </div>
    </div>
</div>